h1 {
	text-align: center;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(200,10,10);
	font-weight: lighter;
}

i {
	color: rgb(100,10,10);
}

body {
	background-color: black;
	color: white;
	font-size: 12px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

footer {
	background-color: white;
	font-size: 16px;
	color: red;
	text-align: center;
}

.base {
	position: fixed;
	bottom:100px;
	left:1%;
	right:1%;
	width: 98%;
	height: 20px;
	color: black;
}

.sign_div
{
	position:relative;
	top:30px;
	width:100%;
	height: 50px;
	z-index: 2;
}

.logo_div
{
	position:relative;
	top:150px;
	width:100%;
	height: 100px;
	z-index: 1;
}

.drawing_canvas
{
	position:fixed;
	top:300px;
	left:10%;
	right:10%;
	width:80%;
	height:400px;
	background-color: yellow; 
}